/* Global Reset & Standards ---------------------- */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}


/**
 * Minimal base styles.
 */

* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

p {
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: #e5bddd;
    line-height: 22px;
    /*margin-bottom: 23px;*/
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

strong {
    font-weight: 700;
}

html {
    font-size: 100.01%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

a {
    display: inline-block;
}

a:link,
a:visited {
    text-decoration: none;
    cursor/**/
    : /**/
    pointer;
}

:focus {
    outline: 0;
}

.container {
    width: 1257px;
    margin: 0 auto;
}


/*
 * Clearing Methods
 */

.clearfix:after {
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    display: block;
}

.clear {
    clear: both;
    height: 1px;
    line-height: 1px;
}


/* Generic Clases ---------------------- */

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

textarea {
    resize: none;
    overflow: auto;
    width: 50px;
}


/*---- Floats ----*/

.fr {
    float: right;
}

.fl {
    float: left;
}


/*---- Horizontal Alignment ----*/

.tr {
    text-align: right;
}

.tc {
    text-align: center;
}

.tl {
    text-align: left;
}


/*---- Hide ----*/

.hide {
    display: none;
}


/*---- Bold ----*/

.bold {
    font-weight: bold;
}


/*---- Padding ----*/

.no-padding {
    padding: 0 !important;
}

.pl0 {
    padding-left: 0 !important;
}

.pr0 {
    padding-right: 0 !important;
}


/*---- Margin ----*/

.no-margin {
    margin: 0 !important;
}


/*---- Fonts ----*/

@font-face {
    font-family: 'LatoHeavy';
    src: url("fonts/LATO-HEAVY.TTF");
    /* font-weight: normal;
  font-style: normal;*/
}

@font-face {
    font-family: 'LatoRegular';
    src: url("fonts/LATO-REGULAR.TTF");
    /*font-weight: normal;
  font-style: normal;*/
}

@font-face {
    font-family: 'LatoLight';
    src: url("fonts/LATO-LIGHT.TTF");
    /*  font-weight: normal;
  font-style: normal;*/
}

@font-face {
    font-family: 'LatoMedium';
    src: url("fonts/LATO-MEDIUM.TTF");
    /* font-weight: normal;
  font-style: normal;*/
}

@font-face {
    font-family: 'LatoBlack';
    src: url("fonts/LATO-BLACK.TTF");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LatoSemiBold';
    src: url("fonts/LATO-SEMIBOLD.TTF");
    /* font-weight: normal;
  font-style: normal;*/
}


/* Nav/Header */

.navbar {
    margin: 0;
    background: transparent;
    border-color: #fff;
    min-height: 0px !important;
    border: none;
}

.navbar .header-left {
    background-color: #8bc43f;
}

.navbar .header-menu {
    background-color: #2b3b90;
    box-shadow: 0px 5px 25px -2px #7c9090;
}

@media screen and (min-width: 1200px) {
    .navbar .col-lg-9 {
        width: 79.7%;
    }
    .navbar .col-lg-3 {
        width: 20.3%;
    }
}

.navbar .col {
    height: 24px;
    padding: 0 !important;
}

ul.navbar-nav {
    float: none;
    margin: 0;
}

ul.navbar-nav li:first-child a {
    padding: 0px 0px 0px 45px;
    font-family: LatoLight;
}

.navbar-nav > li > a {
    padding: 0px 0px 0px 18px;
    line-height: 24px;
    color: #fff !important;
    text-transform: uppercase;
    font-size: 12px;
    font-family: LatoMedium;
}

.navbar-nav > li > a:hover {
    color: #8bc43f !important;
}

.navbar p {
    color: #f6fdce;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0;
    line-height: 24px;
    font-family: LatoHeavy;
}

@media screen and (max-width: 767px) {
    .main-content .logo-col {
        padding: 45px 0px 0px 0px !important;
        text-align: -webkit-center;
        float: none !important;
    }
    .main-content .search-form {
        margin: 12px 42px 23px 0px !important;
        float: none !important;
    }
    .main-content {
        padding: 0 100px !important;
    }
}

@media screen and (max-width: 589px) {
    .search-form h3 {
        font-size: 20px !important;
    }
    button[type="submit"] {
        margin: 35px 0 !important;
        letter-spacing: 0px !important;
        padding: 11px 50px !important;
    }
    .main-content {
        padding: 0 65px !important;
    }
}

@media screen and (max-width: 515px) {
    .search-form h3 {
        font-size: 17px !important;
    }
    button[type="submit"] {
        margin: 40px 0 !important;
        padding: 11px 50px !important;
        font-size: 15px !important;
    }
    .search-form form .form-group {
        padding: 35px 0 0 0 !important;
    }
    .main-content .search-form {
        margin-top: 30px !important;
    }
    .search-form .form-group input {
        font-size: 18px !important
    }
    .main-content {
        padding: 0 35px !important;
    }
}

@media screen and (max-width: 991px) {
    .footer-nav .col {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 830px) {
    .our-service-image {
        display: none;
    }
    .our-sevice-points p {
        margin-left: 40px !important;
    }
    .our-sevice-points {
        width: 100%;
        padding-left: 0 !important;
    }
    .our-sevice-points span {
        margin-left: -25px;
    }
}

@media screen and (min-width: 1200px) {
    .main-content .search-form {
        width: 30.7%;
    }
}

@media screen and (max-width: 1200px) {
	.form-row .text-area{
		padding-right: 15px !important;
		padding-left: 0 !important;
	}
}


/* Main Content */

.main-content {
    /* font-size: 62.5%; */
    /* line-height: 27px; */
    /* background-size: 100% auto; */
    background-image: url(../images/Banner.jpg);
    background-repeat: no-repeat;
    /* background-size: cover; */
    min-height: 685px !important;
    margin-top: -24px;
    /* margin-bottom: 24px; */
    padding: 24px 0 0 0;
}

.main-content .logo-col {
    padding: 59px 0px 48px 47px;
}

.main-content .search-form {
    margin: 51px 42px 48px 0px;
    float: right;
    border: 3px solid #fff;
    /*    width: 30.7%;*/
    box-shadow: 0px 0px 58px -10px #000;
}

.search-form h3 {
    background: #000;
    margin: 0;
    line-height: 50px;
    color: #8bc53f;
    font-family: LatoBlack;
    font-size: 25px;
}

.search-form .search-form-groups {
    background: rgba(0, 0, 0, 0.75);
    margin: 0;
    padding: 0 12px;
}

.search-form form .form-group {
    padding: 42px 0 0 0;
    margin-bottom: 0;
}


/*
.search-form-groups label {
    position: absolute;
    top: 41px;
    margin-bottom: 25px !important;
    bottom: 0;
    left: 0;
    width: 100%;
    transition: 0.2s;
    font-size: 20px;
    font-family: LatoLight;
    color: rgba(255, 255, 255, 0.90);
	letter-spacing: 1.5px;
}

.search-form-groups input:focus + label,
.search-form-groups input:valid{
    top: 25%;
    font-size: 15px;
}
*/

.search-form .form-group input {
    padding-bottom: 0;
    font-size: 20px;
    font-family: LatoLight;
    color: rgba(255, 255, 255, 0.52);
    color: #fff;
    border: 0;
    outline: 0;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.60);
    background: transparent;
    letter-spacing: 1px;
/*    -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);*/

}
/*
input:focus, input:valid {
 box-shadow: none;
 outline: none;
 background-position: 0 0;
}

.search-form  input:focus::-webkit-input-placeholder, .search-form input:valid::-webkit-input-placeholder {
 color: #fff;
 font-size: 11px;
 -webkit-transform: translateY(-20px);
 transform: translateY(-20px);
 visibility: visible !important;
 transition: all 0.3s;
}*/


.search-form ::-webkit-input-placeholder {
    color: white;
    text-align: center;
}

button[type="submit"] {
    background: #8bc53f;
    border: none;
    border-radius: 50px;
    padding: 11px 73px;
    color: #fff;
    font-size: 20px;
    font-family: LatoLight;
    margin: 49px 0;
    letter-spacing: 2px;
}

button[type="submit"]:hover{
	background: #7baf37;
}


/*Contact*/

.page-container {
    max-width: 817px;
    margin: 0 auto;
    margin-top: 36px;
    margin-bottom: 40px;
}

.page-container h3 {
    color: #2a3b8f;
    font-size: 22px;
    font-family: LatoLight;
    text-shadow: 1px 0 0 #2a3b8f;
    margin-bottom: 27px;
    letter-spacing: 1px;
}

.page-container h3 strong {
    font-family: LatoRegular;
}

.contact-details ul li.row {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 29px;
}

.contact-details ul li i {
    background: url("../images/contact-icons.png") no-repeat;
    height: 28px;
    width: 28px;
    display: inline-block;
    padding: 0;
}

.contact-details ul li p {
    color: #3c3c3c;
    font-size: 12px;
    line-height: 18px;
    font-family: LatoSemiBold;
/*    margin-top: 9px;*/
}

.contact-details ul li i.address-icon {
    background-position: 0 0;
/*    margin-top: 10px;*/
}

.contact-details ul li i.phone-icon {
    background-position: 0 -36px;
	    position: relative;
    bottom: 5px;
}

.contact-details ul li i.mobile-icon {
    background-position: 0 -74px;
	    position: relative;
    bottom: 5px;
}

.contact-details ul li i.mail-icon {
    background-position: 0 -113px;
	    position: relative;
    bottom: 5px;
}

.contact-container hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #d9d9d9 !important;
}


/* webkit solution */

::-webkit-input-placeholder {
    text-align: left;
}


/* mozilla solution */

input:-moz-placeholder {
    text-align: left;
}

.form-row {
    background: url("../images/horizontal-bg.png") no-repeat top center;
/*    margin-top: 15px;*/
    padding-top: 15px;
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.form-row p {
    color: #2a3b8f;
    font-size: 12px;
    font-family: LatoLight;
}

.form-row .form-group {
    margin-bottom: 17px;
}

.form-row input.form-control {
    border-radius: 50px;
    font-family: LatoLight;
    font-size: 15px;
    padding: 11px 23px;
    height: auto;
}

.form-row textarea {
/*    height: 152px;*/
    border-radius: 20px;
    font-family: LatoLight;
    font-size: 15px;
    padding: 8px 12px;
}

.contact-container::-webkit-input-placeholder {
    text-align: left;
}


/*Our Service Page*/

.our-service-para strong {
    font-family: LatoHeavy;
    font-size: 12px;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-left: 1px;
}

.our-service-para p {
    font-family: LatoLight;
    color: #3c3c3c;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 38px;
}

.our-sevice-points {
    padding-left: 30px !important;
}

.our-sevice-points p {
    font-family: LatoLight;
    color: #000;
    font-size: 14px;
    line-height: 20px;
    margin-top: 18px;
    /* margin-bottom: 23px; */
    text-shadow: 0 0 0 #000;
    margin-left: -55px;
}

.our-sevice-points span {
    font-family: LatoLight;
    color: #000;
    text-shadow: 0 0 0 #000;
    font-size: 14px;
    /* line-height: 20px; */
    margin-top: 15px !important;
    /* margin-bottom: 7px; */
    display: block;
}


/*Footer*/

.footer-nav {
    background: #2a3b8f;
    /*  padding-top: 24px;*/
    padding: 24px 30px 0 47px;
    /* height: auto;
    padding: 26px 0 47px 56px;*/
}

.footer-nav p {
    font-size: 14px;
    font-family: LatoLight;
    color: #f4f6f7;
    padding: 0 125px 0 0px;
    /*    line-height: 20px;*/
    /*    letter-spacing: 1px;*/
    /*    text-shadow: 0 0 0 #060d1a;*/
    /*text-align: justify;*/
}

.footer-nav img {
    margin-bottom: 16px;
}

.footer-nav h4 {
    font-size: 15px;
    font-family: LatoHeavy;
    color: #f4f6f7;
    /* line-height: 73.66px; */
    text-transform: uppercase;
    /* margin-bottom: 27px; */
    margin: 0 0 8px 0;
}

.footer-nav li a {
    color: #f4f6f7;
    font-size: 13px;
    font-family: LatoLight;
    letter-spacing: 0.5px;
    /*  line-height: 35px;    */
    padding: 7px 0px;
}

.footer-nav .links{
	padding-top: 0px;
    padding-left: 4px;    
	margin-top: -2px;
}


.footer {
    padding: 0px;
    background-color: #162674;
    padding: 0 30px;
}

.footer p {
    color: #8991b9;
    font-size: 13.5px;
    line-height: 17px;
    font-family: LatoRegular;
    margin-top: 7px;
    letter-spacing: 0.1px;
}