<!-- fourth page -->
<div class="container-fluid">
  <div class="page-container">
    <div class="row no-margin">
      <h3>OUR&nbsp;<strong>SERVICE</strong></h3>
      <div class="col-lg-12 no-padding our-service-para">
        <strong> a step by step approach to finding and consolidating all your superannuation accounts.</strong>
        <p>When you register with Find My Super we allocate your search request to a team of service representatives of service representatives at our office to conduct a search across all superrannuation data bases that include lost.active and inactive accounts.Thease incative accounts are referred to as legacy.</p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 no-padding our-service-image"><img src="./images/graphic_ourservice.png"></div>
      <div class="col-lg-9 col-md-9 col-sm-9 no-padding our-sevice-points">
        <p>Complete the online registration process by clicking 'get started' above,then enter your personal details into our online registration form.</p>
        <span>Upon completion of your registration you will be asked to sign and send to us by either fax or email or SMS the completed search and authority form(s) that will contain your registration details.</span>
        <p>You will be guided to our payment gateway to pay for the consolidations of your superannuation accounts.This fee is $250.00.</p>
        <span>We will receive an email and SMS to notify you that your results are ready to view online under your Find My Super profile.</span>
        <p>You will receive an email and SMS to notify you that your results are ready to view online under your Find My Super profile.</p>
        <span>A consolidation kit will be prepared and uploaded for you to print and sign then send directly to your superannution fund to enable them to contact all the funds that are holding super on your behalf.</span>
      </div>
    </div>
  </div>
</div>
